<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="#" th:action="@{/edit-todo/{id}(id=${editTodoForm.id})}" th:object="${editTodoForm}" method="post">
        <p>title: <input type="text" th:field="*{title}"></p>
        <p>status:
            <select th:field="*{status}">
                <option th:each="status : ${statuses}" th:value="${status}" th:text="${status.label}"></option>
            </select>
        </p>
        <p><input type="submit" value="編集"></p>
    </form>
</body>

</html>